In [1]:
import pyarrow.parquet as pq
from sqlalchemy import create_engine
import time

output_name = 'green_tripdata_2019-01.parquet'
#'yellow_tripdata_2019-01.parquet'
#'yellow_tripdata_2021-01.parquet'

parquet_file = pq.ParquetFile(output_name)
parquet_size = parquet_file.metadata.num_rows


engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

table_name='green_taxi_schema'

# Clear table if exists
pq.read_table(output_name).to_pandas().head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

# default (and max) batch size
index = 100000

for i in parquet_file.iter_batches(use_threads=True):
    #print(i)
    t_start = time.time()
    #print(t_start)
    print(f'Ingesting {index} out of {parquet_size} rows ({index / parquet_size:.0%})')
    i.to_pandas().to_sql(name=table_name, con=engine, if_exists='append')
    index += 100000
    t_end = time.time()
    print(f'\t- it took %.1f seconds' % (t_end - t_start))

Ingesting 100000 out of 672105 rows (15%)
	- it took 6.2 seconds
Ingesting 200000 out of 672105 rows (30%)
	- it took 6.0 seconds
Ingesting 300000 out of 672105 rows (45%)
	- it took 6.0 seconds
Ingesting 400000 out of 672105 rows (60%)
	- it took 6.1 seconds
Ingesting 500000 out of 672105 rows (74%)
	- it took 6.1 seconds
Ingesting 600000 out of 672105 rows (89%)
	- it took 6.0 seconds
Ingesting 700000 out of 672105 rows (104%)
	- it took 6.1 seconds
Ingesting 800000 out of 672105 rows (119%)
	- it took 6.0 seconds
Ingesting 900000 out of 672105 rows (134%)
	- it took 6.2 seconds
Ingesting 1000000 out of 672105 rows (149%)
	- it took 5.9 seconds
Ingesting 1100000 out of 672105 rows (164%)
	- it took 1.4 seconds

'1.4.4'

TypeError: 'module' object is not callable

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1.0,4.13,1.0,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2.0,4.12,1.0,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2.0,2.22,1.0,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1.0,7.11,1.0,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3.0,1.61,1.0,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

TypeError: 'module' object is not callable

Engine(postgresql://root:***@localhost:5432/ny_taxi)

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)